<div class="container  bg-light p-3">
    
    <div class="row">
        <!-- Cliente e Telefone na mesma linha -->
        <div class="col-md-6">
            <label for="inputCliente" class="form-label">Cliente</label>
            <input type="text" class="form-control" id="inputCliente" [(ngModel)]="pedido.cliente" (input)="validarForm()">
        </div>
        <div class="col-md-6">
            <label for="inputTelefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="inputTelefone" [(ngModel)]="pedido.telefone" (input)="validarForm()">
        </div>

        <!-- Valor e Pedido na mesma linha -->
        <div class="col-md-6">
            <label for="inputValor" class="form-label">Valor</label>
            <input type="text" class="form-control" id="inputValor" [(ngModel)]="pedido.valor" (input)="validarForm()">
        </div>
        <div class="col-md-6">
            <label for="inputPedido" class="form-label">Pedido</label>
            <input type="text" class="form-control" id="inputPedido" [(ngModel)]="pedido.pedido" (input)="validarForm()">
        </div>

        <!-- Textarea para Observações -->
        <div class="col-12">
            <label for="textareaObservacoes" class="form-label">Observações</label>
            <textarea class="form-control" id="textareaObservacoes" rows="3" [(ngModel)]="pedido.observacoes"></textarea>
        </div>

        <!-- Botão abaixo do textarea -->
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary" (click)="adicionar()" [disabled]="desabilitarBotaoAdicionar">Adicionar</button>
        </div>
    </div>
</div>

