<div class="container" style="max-width: 400px; margin: auto">
  <form #ngForm="ngForm" autocomplete="off" (ngSubmit)="login(usuario.value, senha.value)" >

      <div class="grid">

        <div class="col-12 p-fluid">
           <h1>Login</h1>
        </div>

        <div class="col-12 p-fluid">
          <input pInputText type="text" name="usuario" ngModel placeholder="E-mail" required #usuario>
        </div>

        <div class="col-12 p-fluid">
          <input pInputText type="password" name="senha" ngModel placeholder="Senha" required  #senha>
        </div>

        <div class="col-12">
          <button pButton type="submit" label="Login" [disabled]="ngForm.invalid"></button>
        </div>

      </div>

  </form>
</div>

