<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pedidos Pagos</h5>
      <p class="card-text">{{pedidosPagos}}</p>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pedidos em Preparação</h5>
      <p class="card-text">{{pedidosEmPreparacao}}</p>
      </div>
</div>

<div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pedidos Entregues</h5>
      <p class="card-text">{{pedidosEntregues}}</p>
    </div>
</div>

<div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Pedidos</h5>
      <p class="card-text">{{totalPedidos}}</p>
    </div>
  </div>

<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Valor Total Pedidos</h5>
      <p class="card-text">{{valorTotalPedidos}}</p>
    </div>
  </div>