<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-center">PEDIDO #{{pedido.id}}</h5>
      <p class="card-text"><strong>Pedido:</strong> {{pedido.pedido}}</p>
      <p class="card-text"><strong>Cliente:</strong> {{pedido.cliente}}</p>
      <p class="card-text"><strong>Telefone:</strong> {{pedido.telefone}}</p>
      <p class="card-text"><strong>Valor:</strong> {{pedido.valor}}</p>
      <p class="card-text"><strong>Status:</strong> {{pedido.status}}</p>
      <p class="card-text"><strong>Observações:</strong> {{pedido.observacoes}}</p>
      <button  class="btn btn-dark" (click)="abrirFormNovoPedido()">Novo Pedido</button>
    </div>
</div>

