<div style="display: flex; flex-wrap: wrap;"> <!-- contêiner flex -->
  <div style="width: 250px; margin: 10px;" *ngFor="let pedido of pedidos"> <!-- largura fixa para cada cartão -->
    <div class="card">
      <div class="card-body" [ngClass]="{ 'pedido-pago': pedido.status === 'PAGO', 'pedido-preparacao': pedido.status === 'PREPARANDO', 'pedido-entregue': pedido.status === 'ENTREGUE' }" >
        <h5 class="card-title text-center">PEDIDO #{{pedido.id}}</h5>
        <p class="card-text text-center">Valor: R$ {{pedido.valor}}</p>
        <button type="submit" class="btn btn-dark" (click)="verDetalhePedido(pedido)">Detalhar</button>
        <button type="submit" class="btn ms-3" [ngStyle]="{ 'background-color' : pedido.status === 'PAGO' ? '#6C757D' : pedido.status === 'PREPARANDO' ? '#FFC106' : 'green'}"
        (click)="alterarStatusPedido(pedido)" [disabled]="pedido.status === 'ENTREGUE'">{{pedido.status != 'PAGO' ? 'Entregue' : 'Preparação'}}</button>
      </div>
    </div>
  </div>
</div>
